In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
from football_scraper import scraper
from wrangler import wrangle_club_data

In [41]:
#scraper('England')
#scraper('Spain')
#scraper('Germany')
#scraper('Italy')
#scraper('FRance')

In [88]:
wrangle_club_data()

In [89]:
clubs = season_unique_club('Spain_league.csv',all_seasons=True)
goal_diff = [get_goal_diff('Spain_league.csv',club,all_seasons=True) for club in clubs]
points = [get_points('Spain_league.csv',club,all_seasons=True) for club in clubs]

In [90]:
x = pd.DataFrame(
    {'clubs':clubs,
    'gd':goal_diff,
    'points':points}
)

In [91]:
x.sort_values('points')

          clubs   gd  points
18       Malaga  -37      20
17   Las Palmas  -50      22
3     La Coruna  -38      29
22       Huesca  -41      67
25     Mallorca  -52      72
21    Vallecano  -40      74
27        Elche  -33      78
26        Cadiz  -38      83
7        Girona  -25      88
20   Valladolid  -53     114
0       Leganes  -44     124
24      Granada  -28     140
23      Osasuna  -33     143
15      Espanol  -52     169
16        Eibar  -50     170
1        Alaves -101     205
4       Levante  -63     215
2         Celta  -24     226
6        Getafe    5     245
9    Ath Bilbao    2     248
5         Betis    1     277
14     Valencia   28     278
13     Sociedad   38     279
11   Villarreal   60     282
19      Sevilla   69     334
8    Ath Madrid  150     382
12  Real Madrid  200     401
10    Barcelona  249     414

In [26]:
club = wrangle_club_data(,'Real Madrid')